 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <h3>Things I love</h3>
                    <p>Math, science, programming, next-gen tech, gadgets, embedded systems, Github,
                        open source, sexy code, minimalism, simplicity, Arduinos, Raspberry 'Pies', electronics, logic, solid software architectures, RESTful APIs, Node.js, NPM, loose coupling, modularized thinking, pro programming patters,
                        JS, C, decreasing server serve times by 1ms, attention for detail, brain challenges, problem solving and 
                        MUCH more!</p>
                </div>
                <div class="col-lg-10 col-lg-offset-1">
                    <h3>What am I currently doing?</h3>
                    <p>- Some :( closed source :( freelance jobs</p>
                    <p>- A large (secret for now) project about embedded systems communication methods</p>
                    <p>- Maintaining open source applications</p>
                    <p>- Coming up with new open source ideas</p>
                    <p>- Hardcore (self) studying</p>
                </div>
            </div>
        </div>
    </section>