 <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contact Me</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                   
            <div class="row">  
                <center>
                    <p>E-mail: sam(dot)dev(at)outlook(dot)com</p>
                    <p>Github: <a href='https://github.com/opensoars'>https://github.com/opensoars</a></p>
                    <p>NPM: <a href='https://www.npmjs.org/~opensoars'>https://www.npmjs.org/~opensoars</a></p>
                </center>
            </div>

                </div>
            </div>
        </div>
    </section>