* {
  box-sizing: border-box;
}

#page_header {
  opacity: 1;
  -webkit-animation: fadein 1.5s;
  -moz-animation: fadein 1.5s;
  -ms-animation: fadein 1.5s;
  -o-animation: fadein 1.5s;
  animation: fadein 1.5s;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-moz-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-ms-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; } 
}
@-o-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

pre {
  font-family: monospace;
  font-size: 1em;
  text-align: left;
  margin: 0 auto;
  width: 21em;
  margin-bottom: 4em;
}

.project-desc{
  margin-top: 0px;
}

.project-title {
  margin-bottom: 0px;
  font-size: 1.4em;
}

.tldr {
  margin-bottom: 40px;
}

.github-btn {
  padding-top: 1em;
}


@media(max-width: 480px) {

  pre {
    font-family: monospace;
    font-size: 0.6em;
    text-align: left;
    margin: 0 0 4em 0;
    width: 100%;
  }

  .page-header {
    text-align: left;
  }

}


