* {
  box-sizing: border-box;
}

#page_header {
  opacity: 1;
  -webkit-animation: fadein 1.5s;
  -moz-animation: fadein 1.5s;
  -ms-animation: fadein 1.5s;
  -o-animation: fadein 1.5s;
  animation: fadein 1.5s;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-moz-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-ms-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; } 
}
@-o-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeinout {
  0% { opacity: 0; }
  50% { opacity: 1; }
  75% { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes fadeinout {
  0% { opacity: 0; }
  50% { opacity: 1; }
  75% { opacity: 1; }
  100% { opacity: 0; }
}
@-webkit-keyframes fadeinout {
  0% { opacity: 0; }
  50% { opacity: 1; }
  75% { opacity: 1; }
  100% { opacity: 0; }
}
@-ms-keyframes fadeinout {
  0% { opacity: 0; }
  50% { opacity: 1; }
  75% { opacity: 1; }
  100% { opacity: 0; }
}
@-o-keyframes fadeinout {
  0% { opacity: 0; }
  50% { opacity: 1; }
  75% { opacity: 1; }
  100% { opacity: 0; }
}


pre {
  font-family: monospace;
  font-size: 1em;
  text-align: left;
  margin: 0 auto;
  width: 21em;
  margin-bottom: 4em;
  overflow: hidden;
}

.project-desc{
  margin-top: 0px;
}

.project-title > a {
  margin-bottom: 0px;
  font-size: 1.7em;
  text-decoration: none;
}

h2.project-name {
  padding: 0.6rem 0.9rem;
}

a:hover > .project-name, a > .project-name, a:visited > .project-name, a:active > .project-name, a:link > .project-name {
  margin-bottom: 0px;
  font-size: 1rem;

  margin-top: 2rem;
  margin-left: -5px;
}

a:hover > .project-name {
  text-decoration: underline;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

.project-title > a:hover {
  text-decoration: underline;
}

.tldr {
  margin-bottom: 40px;
}

.github-btn {
  padding-top: 1em;
  margin: 0px;
}

section.split-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

section.split-list {
  width: 50%;
}

section.single-list {
  display: none;
}

@media(max-width: 768px) {
  section.single-list {
    display: block;
  }
  section.split-lists {
    display: none;
  }
}

@media(max-width: 480px) {
  pre {
    font-family: monospace;
    font-size: 0.6em;
    text-align: left;
    margin: 0 0 4em 0;
    width: 100%;
  }

  .page-header {
    text-align: left;
  }
}

#iframe_section {

}


iframe {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  border: 0px;
  z-index: 10;
}


#fader {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 13;
  background: black;
  opacity: 0;
  -webkit-animation: fadeinout 5.0s;
  -moz-animation: fadeinout 5.0s;
  -ms-animation: fadeinout 5.0s;
  -o-animation: fadeinout 5.0s;
  animation: fadeinout 5.0s;
}


#go_btn {
  position: relative;
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  float: right;
  outline: none;
  font-size: 50px;
  z-index: 9;
}

#close_btn {
  z-index: 11;
  position: fixed;
  background: none;
  border: none;
  font-size: 50px;
  right: 20px;
  top: 10px;
  width: 50px;
  height: 50px;
  outline: none;
  display: none;
  -webkit-animation: fadein 1.5s;
  -moz-animation: fadein 1.5s;
  -ms-animation: fadein 1.5s;
  -o-animation: fadein 1.5s;
  animation: fadein 1.5s;

}

#go_btn:hover {
  text-decoration: underline;
}
