* {
  box-sizing: border-box;
}

pre {
  font-family: monospace;
  font-size: 14px;
  text-align: left;
  margin: 0 auto;
  width: 500px;
}

.project-desc{
  margin-top: 0px;
}

.project-title {
  margin-bottom: 0px;
}

.tldr {
  margin-bottom: 40px;
}

